<script type="application/json" id="random-song">
  <%= @song.to_json.html_safe %>
</script>


<section class="signout">
<% if @user %>
Hi, <%= @user.name %>
<a href="<%= destroy_user_session_url %>" data-method="delete" rel="nofollow"><li>Sign Out</li></a>
<% end %>
</section>

<section class="scoreboard">
<h6>Score: <%= @user.get_score %></h6>
</section>
<section class="cont">
<label><h5>Continuous Play</h5>
<input class="auto-cont" type="checkbox">
</label>
</section>

<div id="user-info" class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">History</a></p>
    <div class="content" data-section-content>
      <ul class="song-list" id="history-list">

      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Likes</a></p>
    <div class="content" data-section-content>
      <ul class="song-list" id="like-list">

      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel3">Uploads</a></p>
    <div class="content" data-section-content>
      <ul class="song-list" id="my-list">

      </ul>
    </div>
  </section>
</div>

<script type="application/javascript">
<% listens = @user.history_songs %>
<% listens.each_with_index do |song, index| %>
<% next if (index <= (listens.length - 6)) %>
$("#history-list").append("<%= song.title %>");
$("#history-list").append("<hr>");
<% end %>
</script>

<script type="application/javascript">
<% likes = Polarity.where({:user_id => @current_user.id}) %>
<% liked_ids = [] %>
<% likes.each do |song| %>
<% liked_ids.push(song.id) %>
<% end %>
<% liked_songs = Song.find_all_by_id(liked_ids) %>
<% liked_songs.each do |song| %>
$("#like-list").append("<%= song.title %>");
$("#like-list").append("<hr>");
<% end %>
</script>

<script type="application/javascript">
<% @user.uploaded_songs.each do |song| %>
$("#my-list").append("<%= song.title %>");
$("#my-list").append("<hr>");
<% end %>
</script>


<form method="post">
  <table id="new-song">
  <tr><td>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label><span class="label">Artist:</span>
<input type="text" name="song[artist]" id="auto-box" placeholder="Enter Artist Name..."></input>
</label></td>
<td>
<label><span class="label">Song:</span>
<input type="text" name="song[title]" id="auto-song-box" placeholder="Enter Song Name..."></input>
</label></td>
</tr>
</table>

<input type="submit" class="gadget" value="Create Song!"></input>

</form>


<div class="row" id="app-buttons">
  <ul class="button-group round even-3">
    <li><a class="button" id="shuffles">Shuffles</a></li>
    <li><a class="button" id="play">Play</a></li>
    <li><a class="button" id="next">Next</a></li>
  </ul>
</div>

<div class="row" id="updown">
  <img id="upvote" class="votes" src="<%= asset_path('upvote.png')%>">
  <img id="downvote" class="votes" src="<%= asset_path('downvote.png')%>">
</div>

<div class="panel callout" id="current">
  
</div>

<div class="natalie">
  
</div>

<script type="text/javascript">
$(document).ready(function () {
  $('#shuffles').click(function() {
      var $marginLefty = $('#user-info');
      $marginLefty.animate({
        marginLeft: parseInt($marginLefty.css('marginLeft'), 10) == 0 ?
          -$marginLefty.outerWidth() - 10 :
          0
      });
    });
    
});

</script>

<script src="http://toma.hk/api.js?v=1"></script>

<script type="application/javascript">

$('#auto-box').autocomplete({
  source: function(request, response){
    $.ajax({url: "http://developer.echonest.com/api/v4/artist/suggest",
      data: {"api_key": "FILDTEOIK2HBORODV", "name": request.term, "results": 10},
      type: "get"}).done(function(data){ 
        response(data["response"]["artists"].map(function(x){return x.name}));
      })
    }
});


$('.gadget').on("click", function(event){
  event.preventDefault();
  $.ajax({
    url: "<%= song_url %>" + ".json",
    type: "POST",
    data: $(this.form).serialize(),
      
  }).done(function(song){
    alert("Added Your Song!");
    
    $('input[name=song\\[title\\]]').val("");
    $('input[name=song\\[artist\\]]').val("");
    
    $.ajax({
      url: "<%= user_uploadeds_url %>",
      type: "POST",
      data: {"user_uploaded": {"user_id": "<%= @user.id %>", "song_id": song.id}}
    }).done($('body').append("Successfully added song!"));
    
    
  });
  
  
});

var autocontinue = false;
$('.auto-cont').on("click", function(){
  autocontinue = $('.auto-cont').is(':checked')
})

var random_song = JSON.parse($('#random-song').html());
var song_id;
var processTrack = function (title, artist, id){
  song_id = id;
  var track;
  var that = this;
  track = window.tomahkAPI.Track(title,
      artist, 
      {
      width: 300,
      height: 300,
      disabledResolvers: ["SpotifyMetadata"],
          // options: "SoundCloud", "Officialfm", "Lastfm", "Jamendo", "Youtube", "Rdio", "SpotifyMetadata", "Deezer", "Exfm"
      handlers: {
          onloaded: function() {
          },
          onended: function() {
            //make ajax query if autocomplete = true
            alert("song ended!");
            if(autocontinue){
              $.ajax({
                url: "/user_histories",
                type: "POST",
                data: {"user_history": {"song_id": song_id, "user_id": "<%= @user.id %>"}},
                success: function(response) {
                  $.ajax({
                    url: "<%= song_url %>.json",
                    type: "get"
                  }).done(function(data){
                    new_track = processTrack(data.title, data.artist, data.id)
                    $('.natalie').html(new_track.render())
                    $('#current').html("Title: " + data.title);
                    $('#current').append("<br>Artist: " + data.artist);
                  })
                },
                error: function(response, arg, error) {
          
                }
              });
              return false;
            }
          },
          onplayable: function() {
            if(autocontinue)
              new_track.play();
          },
          onresolved: function(resolver, result) {
          },
      }
  });
  return track;
}

var gtitle = random_song.title;
var gartist = random_song.artist
var gid = random_song.id

var new_track = processTrack(gtitle, gartist, gid);

$('.natalie').append(new_track.render());
$('#current').append("Title: " + gtitle);
$('#current').append("<br>Artist: " + gartist);

$('#play').click(function() {
  new_track.play();
  return false;
});

$('#next').click(function() {
  $.ajax({
    url: "/user_histories",
    type: "POST",
    data: {"user_history": {"song_id": song_id, "user_id": "<%= @user.id %>"}},
    success: function(response) {
      
      $.ajax({
        url: "<%= song_url %>.json",
        type: "get"
      }).done(function(data){
        new_track = processTrack(data.title, data.artist, data.id)
        $('.natalie').html(new_track.render());
        $('#current').html("Title: " + data.title);
        $('#current').append("<br>Artist: " + data.artist);
      })
    },
    error: function(response, arg, error) {
      
    }
  });
  
  return false;
  
});


$('#downvote').click(function(){
  
  
  $.ajax({
    url: "/polarities",
    type: "POST",
    data: {"polarity": {"song_id": song_id, "is_good": "false", "user_id": "<%= @user.id %>"}},
    success: function(response) {
    },
    error: function(response, arg, error) {
    }
  });
  
  
  return false;
})

$('#upvote').click(function() { /* up */
  
  $.ajax({
    url: "/polarities",
    type: "POST",
    data: {"polarity": {"song_id": song_id, "is_good": "true", "user_id": "<%= @user.id %>"}},
    success: function(response) {
      //make the thing glowwwww
    },
    error: function(response, arg, error) {
    }
  });

  return false;
})



$(document).keydown(function(e){
  if ($('#auto-box').is(":focus") || $('#auto-song-box').is(":focus")) {
    
  } else {
    if (e.keyCode == 32) { /* space */
      new_track.play();
      return false;
    }
    
    if (e.keyCode == 40) { /* down */
      
      
      $.ajax({
        url: "/polarities",
        type: "POST",
        data: {"polarity": {"song_id": song_id, "is_good": "false", "user_id": "<%= @user.id %>"}},
        success: function(response) {
        },
        error: function(response, arg, error) {
        }
      });
      
      
      return false;
    }
    
    
    if (e.keyCode == 38) { /* up */
      
      $.ajax({
        url: "/polarities",
        type: "POST",
        data: {"polarity": {"song_id": song_id, "is_good": "true", "user_id": "<%= @user.id %>"}},
        success: function(response) {
          //make the thing glowwwww
        },
        error: function(response, arg, error) {
        }
      });
   
      return false;
    }
    
    
    
    if (e.keyCode == 39) { /* right */
      
      $.ajax({
        url: "/user_histories",
        type: "POST",
        data: {"user_history": {"song_id": song_id, "user_id": "<%= @user.id %>"}},
        success: function(response) {
          
          $.ajax({
            url: "<%= song_url %>.json",
            type: "get"
          }).done(function(data){
            new_track = processTrack(data.title, data.artist, data.id)
            $('.natalie').html(new_track.render()); 
            $('#current').html("Title: " + data.title);
            $('#current').append("<br>Artist: " + data.artist);
          })
        },
        error: function(response, arg, error) {
          
        }
      });
      
      return false;
    }
    
    
    
    if (e.keyCode == 37) { /* left */
      //SHOW HISTORY
       return false;
    }
    
    
    
    
  }
})


</script>