<script type="application/json" id="random-song">
  <%= @song.to_json.html_safe %>
</script>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if @user %>
<a href="<%= destroy_user_session_url %>" data-method="delete" rel="nofollow"><li>Sign Out</li></a>
<%= @user.email %>
<% end %>

<label>Autocomplete Box</label>
<input type="text" class="auto-box"></input>

<div class="natalie">
  
</div>

<script src="http://toma.hk/api.js?v=1"></script>

<script type="application/javascript">




$('.auto-box').autocomplete({
  source: function(request, response){
    console.log("request term")
    console.log(request.term)
    $.ajax({url: "http://developer.echonest.com/api/v4/artist/suggest",
      data: {"api_key": "FILDTEOIK2HBORODV", "name": request.term, "results": 10},
      type: "get"}).done(function(data){ 
        response(data["response"]["artists"].map(function(x){return x.name}));
      })
    }
});




var random_song = JSON.parse($('#random-song').html());
var song_id;
var processTrack = function (title, artist, id){
  song_id = id;
  var track;
  track = window.tomahkAPI.Track(title,
      artist, 
      {
      width: 300,
      height: 300,
      disabledResolvers: ["SpotifyMetadata"],
          // options: "SoundCloud", "Officialfm", "Lastfm", "Jamendo", "Youtube", "Rdio", "SpotifyMetadata", "Deezer", "Exfm"
      handlers: {
          onloaded: function() {
          },
          onended: function() {
            //make ajax query if autocomplete = true
          },
          onplayable: function() {
          },
          onresolved: function(resolver, result) {
          },
      }
  });
  return track;
}

var new_track = processTrack(random_song.title, random_song.artist, random_song.id)

console.log("HERE THIS IS");
$('.natalie').append(new_track.render())

$(document).keydown(function(e){
    if (e.keyCode == 37) { /* left */
       
       
       return false;
    }
    if (e.keyCode == 39) { /* right */
      
      $.ajax({
        url: "/user_histories",
        type: "POST",
        data: {"user_history": {"song_id": song_id, "user_id": "<%= @user.id %>"}},
        success: function(response) {
          
          $.ajax({
            url: "<%= song_url %>.json",
            type: "get"
          }).done(function(data){
            new_track = processTrack(data.title, data.artist, data.id)
            $('.natalie').html(new_track.render())
          })
        },
        error: function(response, arg, error) {
          
        }
      });
      
      return false;
    }
    if (e.keyCode == 38) { /* up */
      
      $.ajax({
        url: "/polarities",
        type: "POST",
        data: {"polarity": {"song_id": song_id, "is_good": "true", "user_id": "<%= @user.id %>"}},
        success: function(response) {
          //make the thing glowwwww
        },
        error: function(response, arg, error) {
        }
      });
   
      return false;
    }
    if (e.keyCode == 40) { /* down */
      
      
      $.ajax({
        url: "/polarities",
        type: "POST",
        data: {"polarity": {"song_id": song_id, "is_good": "false", "user_id": "<%= @user.id %>"}},
        success: function(response) {
        },
        error: function(response, arg, error) {
        }
      });
      
      
      return false;
    }

});


$(document).keydown(function(e){
  if ($('.auto-box').is(":focus")) {
    
  } else {
    if (e.keyCode == 32) {
      new_track.play();
      return false;
    }
  }
})


</script>